.section-card {
    @include card-style;
    padding: var(--small-card-padding);
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);

    --separation: 15px;

    .section-term {
        font-size: 2.2rem;
        margin: 0;
        color: var(--card-text-color-main);
    }

    .section-description {
        font-weight: normal;
        color: var(--card-text-color-secondary);
        font-size: 1.6rem;
        margin: 0;
    }

    .section-details {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .section-image {
        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
        }
    }

    .section-count {
        color: var(--card-text-color-tertiary);
        font-size: 1.4rem;
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.subsection-list {
    --shadow-overlap-x: calc(var(--shadow-l2-blur) + 4px);
    --shadow-overlap-y: calc(var(--shadow-l2-blur) + var(--shadow-l2-y) + 4px);

    overflow: hidden;

    margin-left: calc(var(--shadow-overlap-x) * -1);
    margin-right: calc(var(--shadow-overlap-x) * -1);
    margin-bottom: calc(var(--shadow-overlap-y) * -1);

    .article-list--tile {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: var(--spacing-xs) var(--shadow-overlap-x) var(--shadow-overlap-y) var(--shadow-overlap-x);
        gap: var(--spacing-lg);

        article {
            width: 100%;

            .article-title {
                margin: 0;
                font-size: 1.8rem;
                position: relative;
            }

            .article-details {
                padding: var(--spacing-lg);
            }

            &.has-image .article-details::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 50%;
                background: linear-gradient(to top, var(--article-tile-title-backdrop), transparent);
                border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
                pointer-events: none;
            }
        }
    }
}